$color-black: black;
$color-white: white;
$color-green: rgb(58, 120, 58);
$color-red: red;

$spacing-1: 10px;
$spacing-2: 15px;
$spacing-3: 30px;

$spacing-small: 10px;
$spacing-medium: 15px;
$spacing-large: 30px;