*, *::before, *::after {
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}


/* FLEX BOX pavyzdys */
/* .content {
  display: flex;
  align-items: center;
  column-gap: 30px;
  flex-wrap: wrap;
}

.shops-wrapper {
  width: 100%;
}

.shops-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.shop-item {
  background-color: white;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 15px;
  width: 100%;
}

ul.contacts-list {
  list-style-type: none;
  padding-left: 0;
  font-weight: 700;
}

ul.contacts-list a {
  font-weight: 400;
  text-decoration: none;
}

.map-wrapper {
  width: 100%;
  display: flex;
  order: -10;
}

.map-wrapper iframe {
  width: 100%;
}

@media (min-width: 500px) {
  .shop-item {
    width: calc((100% - 15px) / 2);
  }
}

@media (min-width: 600px) {
  .content {
    flex-wrap: nowrap;
  }

  .shops-wrapper {
    width: 50%;
  }

  .shop-item {
    width: 100%;
  }

  .map-wrapper {
    width: 50%;
    order: 0;
  }
}

@media (min-width: 800px) {
  .shops-wrapper {
    width: 60%;
  }

  .shop-item {
    width: calc((100% - 15px) / 2);
  }

  .map-wrapper {
    width: 40%;
  }
}

@media (min-width: 1000px) {
  .shops-wrapper {
    width: 50%;
  }

  .map-wrapper {
    width: 50%;
  }
} */





/* GRID PAVYZDYS */

.content {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  column-gap: 30px;
}

.shops-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}

.shop-item {
  background-color: white;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

ul.contacts-list {
  list-style-type: none;
  padding-left: 0;
  font-weight: 700;
}

ul.contacts-list a {
  font-weight: 400;
  text-decoration: none;
}

.map-wrapper {
  display: flex;
  order: -10;
}

.map-wrapper iframe {
  width: 100%;
}

@media (min-width: 500px) {
  .shops-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 600px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }

  .shops-list {
    grid-template-columns: 1fr;
  }

  .map-wrapper {
    order: 0;
  }
}

@media (min-width: 800px) {
  .content {
    grid-template-columns: 6fr 4fr;
  }

  .shops-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1000px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}