*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f2f2f2;
  margin-bottom: 500px;
}

select {
  padding: 5px;
  border-radius: 50px;
  margin-top: 5px;
}

.container {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.content-wrapper {
  margin-top: 50px;
}

.program-filter-form {
  background-color: white;
  padding: 30px;
  position: sticky;
  top: 20px;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

fieldset.checkbox-wrapper {
  border: 0;
  padding: 0;
  margin: 0;
}

.programs-list {
  /* display: flex;
  flex-wrap: wrap;
  gap: 30px; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 30px;
}

.program-item {
  background-color: white;
  /* width: calc((100% - 30px) / 2); */
  padding: 30px;
  position: relative;
}

.program-item a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-decoration: none;
  color: black;
}

.program-image {
  height: 100px;
  max-width: 80%;
}

.program-features-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  gap: 5px 20px;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.program-feature-item.before::before {
  content: url(hat.svg);
}

.program-promo {
  background-color: #ff00e9;
  color: white;
  padding: 5px 18px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 13px;
  position: absolute;
  top: 20px;
  right: -20px;
}